/* USER POST POST FORM */
.form__main {
	display: flex;
	flex-direction: column;
	border: 1px solid #d8d8d8;
	padding: 20px;
	margin: 5px;
}

/* FORM */
.form__title {
	margin: 30px auto;
	font-weight: bold;
	font-size: 22px;
	color: #00b8ff;
}

/* FORM */
.comment__label {
	font-size: 18px;
	font-weight: bold;
	color: #181818;
	margin: 30px 10px 10px;
}

/* FORM */
.comment__textarea {
	margin: 5px 10px 10px;
	border: 1px solid #d3d3d3;
	padding: 10px;
	min-height: 30vh;
}
.comment__textarea:focus {
	outline-color: transparent;
	outline-style: none;
}

/* FORM */
.comment__button {
	color: white;
	background-color: #00b8ff;
	border: solid 1px #00b8ff;
	padding: 20px 50px;
	font-weight: bold;
	margin: 20px 10px;
	font-size: 16px;
	width: fit-content;
}

/* FORM */
.comment__button:hover {
	color: #00b8ff;
	background-color: white;
}

.comment__button:focus {
	outline-color: transparent;
	outline-style: none;
}
