/* USER POST */
/* POST FORM */
.form__main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__title {
  padding-bottom: 30px;
}
.form__comment {
  position: absolute;
  left: 31px;
  top: 33px;
  padding: 5px;
  background-color: #fff;
}
.form__code {
  position: absolute;
  left: 31px;
  top: 255px;
  padding: 5px;
  background-color: #fff;
}
textarea {
  margin-bottom: 40px;
  padding: 15px;
}
.form__button {
  color: black;
  background-color: darkgrey;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
  max-width: 50px;
}
