/* PRIVACY MAIN */
.privacy__main {
	width: 55%;
	margin: 2.5rem auto;
	line-height: 1.2;
	color: #101010;
}

@media only screen and (max-width: 700px) {
	.privacy__main {
		width: 90%;
	}
}

.privacy__main a {
	color: #00b8ff;
}

.privacy__main a:hover {
	color: #101010;
}

/* PRIVACY H1 */
.privacy__main__h2 {
	font-size: 30px;
	color: #00b8ff;
	font-weight: bold;
	text-align: center;
	padding: 50px;
}

.privacy__h2 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 50px 0 50px 0;
}

/* PRIVACY H2 */
.privacy__h3 {
	font-size: 1em;
	font-weight: bold;
}

.privacy__h3,
.privacy__h4 {
	text-align: left;
	padding: 15px 0 15px 0;
}

/* PRIVACY TEXT */
.privacy__text p {
	text-align: justify;
}

/* PRIVACY LISTS */
.privacy__lists {
	padding: 20px 0 20px 50px;
}

.privacy__lists ul li {
	color: #383838;
	list-style-type: disc;
	padding: 10px 0 10px 0;
}

.privacy__lists strong {
	font-weight: bold;
}
