/* PRIVACY MAIN */
.privacy__main {
  /* min-height: 80vh; */
  width: 60%;
  margin: 2.5rem auto;
}

/* PRIVACY H1 */
.privacy__main__h1 {
  font-size: 2.2em;
  font-weight: bold;
  padding: 60px;
  text-align: center;
}

.privacy__h1 {
  font-size: 1.1em;
  padding: 30px 0 15px 0;
  font-weight: bold;
}

/* PRIVACY H2 */
.privacy__h2 {
  font-size: 1em;  
  padding: 15px 0 15px 0;
  font-weight: bold;
}

/* PRIVACY H3 */
.privacy__h3 {
  /* font-size: 0.9em; */
  padding-bottom: 10px;
}

.privacy__h1,
.privacy__h2,
.privacy__h3 {
  text-align: left;
}

/* PRIVACY TEXT */
.privacy__text p {
  text-align: justify;
}

/* PRIVACY LISTS */
/* .privacy__lists ul li p {
color: #000;
} */

