.comment__ul {
	/* border: 1px solid red*/
}

.comment__li {
	border: 1px solid #d8d8d8;
	padding: 20px;
	margin: 5px;
}

.comment__author {
	color: #00b8ff;
	font-weight: bold;
	margin: 20px 10px 40px;
	font-size: 18px;
}

.comment__text {
	margin: 10px;
}

.codeblock__comment {
	max-width: 100%;
	margin: 10px;
}

.comment__time {
	margin: 10px;
}
