/* MAIN POSTS */
.main__posts {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.main__posts {
		width: 100%;
	}
}

/* NAV POSTS  */
.nav__posts {
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	width: 100%;
	margin: 5px;
	border-radius: 25px;
}

.nav__posts > * {
	margin: 10px 20px;
}

/* H2 TITLE */
.h2__posts {
	font-weight: bold;
	font-size: 22px;
	margin: 50px;
}
