/* MAIN POSTS */
.main__posts {
	border: solid 1px black;
	/* min-height: 80vh; */
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.main__posts {
		width: 100%;
	}
}

/* H2 TITLE */
.h2__posts {
	font-weight: bold;
	font-size: 22px;
	margin: 50px;
}
