/* MAIN POSTS SECTION */
.readposts-section {
	border: solid 1px black;
	border-radius: 35px;
	padding: 50px;
	max-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* NAV LINK */
.nav__link__posts {
	border: solid 1px black;
}

/* H3 POSTS */
.posts__h3 {
	font-weight: bold;
	font-size: 22px;
	margin: 20px;
}

/* H4 POSTS */
.posts__h4 {
	font-weight: bold;
	font-size: 20px;
	margin: 20px;
}

/* P POSTS */
.posts__p {
	width: 500px;
}

@media only screen and (max-width: 600px) {
	.posts__p {
		width: 100%;
	}
}

/* CODEBLOCK POSTS */
.codeblock__span__posts {
	border: solid 1px black;
	width: 500px;
}

@media only screen and (max-width: 600px) {
	.codeblock__span__posts {
		width: 100%;
	}
}
