/* MAIN POSTS SECTION */
.readposts-section {
	border: solid 1px lightgrey;
	background-color: lightgrey;
	border-radius: 35px;
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

/* NAV LINK */
.navlink__readclose {
	text-align: right;
	color: black;
	text-decoration: none;
}

.navlink__readclose:hover {
	color: blue;
}

/* H3 POSTS */
.posts__h3 {
	font-weight: bold;
	font-size: 22px;
	margin: 20px;
}

/* H4 POSTS */
.posts__h4 {
	font-weight: bold;
	font-size: 20px;
	margin: 20px;
}

/* P POSTS */
.posts__p {
	margin: 0 20px;
}

@media only screen and (max-width: 600px) {
	.posts__p {
		margin: 0;
	}
}

/* CODEBLOCK POSTS */
.codeblock__span__posts {
	border: solid 1px black;
	margin: 0 20px;
}

@media only screen and (max-width: 600px) {
	.codeblock__span__posts {
		margin: 0;
	}
}
