/* MAIN CATEGORIES */
.categories__main {
	width: 20%;
	display: flex;
	flex-direction: column;
	background-color: #202020;
	overflow-y: auto;
}

@media only screen and (max-width: 900px) {
	.categories__main {
		width: 100%;
	}
}

/* RESET FILTER */
.postaction__link__resetfilter {
	margin: 30px 10px 10px 10px;
	padding: 10px;
	max-width: 100%;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	font-size: 16px;
	/* font-weight: bold; */
	color: #787878;
	background-color: #202020;
	/* border: solid 1px #787878; */
	border: none;
	text-decoration: none;
}

.postaction__link__resetfilter:hover {
	/* color: #202020; */
	/* background-color: #787878; */
	color: #00b8ff;
}
.postaction__link__resetfilter:focus {
	outline-color: transparent;
	outline-style: none;
}

/* H2 TITLE */
/* .categories__h2 {
	text-align: left;
	color: #787878;
	font-weight: bold;
	font-size: 24px;
	margin: 20px;
	padding: 20px;
} */

.categories__ul {
	display: flex;
	height: auto;
	flex-direction: column;
	justify-content: space-around;
}

.categories__li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 16px;
	margin: 30px 10px;
	padding: 10px;
	word-break: break-all;
	cursor: pointer;
}

.categories__info {
	width: 100%;
	display: flex;
	align-items: center;
	color: #fafaff;
}

.subcategory__name {
	margin: 10px 10px 10px 30px;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 100;
	cursor: pointer;
	color: #787878;
}

.ul__icons {
	padding: 0 15px 0 0;
	font-size: 20px;
}

.li__icon {
	display: flex;
}

.form__test__cat {
	/* ??????????  */
	border: solid 1px #181818;
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	padding: 30px;
}

.categoryC {
	display: none;
}
.categoryJs {
	display: none;
}
.categoryJava {
	display: none;
}
.categoryPython {
	display: none;
}
.categoryRust {
	display: none;
}

.categoryCOpen {
	display: block;
}
.categoryJsOpen {
	display: block;
}
.categoryJavaOpen {
	display: block;
}
.categoryPythonOpen {
	display: block;
}
.categoryRustOpen {
	display: block;
}

.button__arrow {
	width: 20px;
	height: 20px;
	font-size: 16px;
	background-color: #202020;
	border-radius: 15px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	margin-left: auto;
	text-decoration: none;
}
.button__arrow:hover {
	color: #00b8ff;
}
.button__arrow:active {
	position: relative;
	top: 1px;
}
.button__arrow:focus {
	outline-color: transparent;
	outline-style: none;
}
