.post__form {
	border: solid 1px black;
	border-radius: 35px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post__legend {
    font-weight: bold;
	font-size: 20px;
	margin: 20px;
}

.post__label {
	font-weight: bold;
	font-size: 16px;
    margin: 20px;
    text-align: left;
}

.post__textarea {
	border: solid 1px black;
}

.codeblock__span {
	border: solid 1px black;
}
