*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.h1__about, .h2__style {
  text-align: center;
  margin: 30px;
  font-weight: bold;
}

.about__paragraph {
  text-align: center;
  margin:40px;
}
.main__about {
  min-height: 100vh;
  margin: auto;
  display: inline-block;
}
.team__container {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.effect__imgs {
  display: flex;
  flex-direction: column;
}

.figcaption {
  height: 280px;
  width: 300px;
  margin: 100px auto;
}

.team__container img {
  width: 120px;
  height: 120px;
  position: relative;
  display: inline-block;
  opacity: 1;
}


.description {
  margin: 10px;
}

/* Common style */

.links a {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

figure h2,
figure .links {
  word-spacing: -0.55em;
  font-weight: 500;
  cursor: pointer;
  visibility: hidden;
}

figure h2,
figure .links,
figure p {
  text-align: center;
  margin: 5px;
}

figure .links a {
  letter-spacing: 6px;
  font-size: bold 50%;
  transition: 0.3s ease-in-out;
}

.team__container figure .links a:hover {
  color: rgb(12, 12, 15);
  font-size: 15px;
  transform: scale(1);
}

 p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

 .links a {
  color: rgb(41, 41, 126);
  text-decoration: none;
}

figure.effect__imgs h2,
figure.effect__imgs .links,
.team__container.figcaption:hover p {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 300%, 0);
  opacity: 1;
}

/* HOVER */

.figcaption:hover .description {
  opacity: 0;
}
.figcaption:hover h2,
.figcaption:hover .links {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  visibility: inherit;
}

.figcaption:hover,
.figcaption:hover h2,
.figcaption:hover .links {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}