/* HEADER  */
.Header {
	padding: 3px 5px;
	font-size: 15px;
	display: flex;
	align-items: center;
	background: #333333;
}

/* HEADER DIV LEFT NAV  */
.nav__tag {
	width: 85%;
}

/* HEADER UL */
.nav__ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* HEADER LI */
.nav__li {
	margin: 0px 20px;
}

/* HEADER LINK */
.nav__link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* HEADER IMG */
.header__img {
	width: 15px;
	height: 15px;
	margin: 5px;
}

.header__img:hover {
	width: 20px;
	margin: 0px;
}

/* HEADER H1 */
.header__h1 {
	color: blue;
	font-weight: bold;
}

.header__h1:hover {
	color: black;
}

/* HEADER LI */
/* .nav__li {
	border: solid 1px red;
} */

/* HEADER LINK */
.nav__link {
	text-decoration: none;
	color: #dad6d6;
}

.nav__link:hover {
	color: blue;
}

/* HEADER DIV LEFT  */
.header__left {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}
