/* SIGN UP MODAL BUTTONS */
.modal__button {
	margin: 5px 20px;
}

/* SIGN UP MODAL OPEN */
.modal__button__login {
	color: blue;
	border: solid 1px blue;
	background-color: white;
	font-weight: bold;
}

.modal__button__login:hover {
	color: white;
	border: white;
	background-color: blue;
}

/* SIGN UP MODAL CLOSE */
.modal__button__close {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 5px;
	color: black;
	border: solid 1px darkgrey;
	background-color: darkgrey;
	font-weight: bold;
}

.modal__button__close:hover {
	color: white;
	border: white;
	background-color: blue;
}

/* SIGN UP FORM */
.form__div {
	box-sizing: border-box;
	background-color: lightgrey;
	border: solid 1px lightgrey;
	border-radius: 50px;
	width: fit-content;
	margin: 60px auto;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* LEGEND*/
.form__legend {
	color: blue;
	font-size: 22px;
	font-weight: bold;
	margin: 20px 0;
}

/* LABEL */
.form__label {
	color: black;
	align-self: flex-start;
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0 5px;
}

/* INPUT */
.form__input {
	color: black;
	font-size: 16px;
	border: none;
	width: 500px;
	margin: 5px 0 20px;
	padding: 10px;
}

/* DIV CORRECT LENGTH MESSAGE */
.div__correct__length {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* P CORRECT LENGTH MESSAGE */
.p__correct__length {
	color: red;
	margin: 10px;
}

/* SUBMIT BUTTON */
.submit__button {
	color: black;
	border: solid 1px darkgrey;
	background-color: darkgrey;
	padding: 20px;
	max-width: 500px;
	font-weight: bold;
	border-radius: 15px;
}

.submit__button:hover {
	color: white;
	border: white;
	background-color: blue;
}
