/* FOOTER */
.Footer {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	background: #333333;
	max-width: 100%;
}

/* FOOTER NAV */
footer nav {
	width: 100%;
}

/* FOOTER MAIN */
.footer__main {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-right: 10rem;
}

/* FOOTER UL */
footer ul {
	max-width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer ul li {
	margin: 10px;
	padding: 10px;
}

/* FOOTER NAME */
.footer__name {
	color: #dad6d6;
	font-size: 16px;
	text-decoration: none;
}

/* .footer__name:hover {
	color: #7cd0df;
} */

/* FOOTER ICON */
.icon {
	color: white;
}

.icon:hover {
	transform: scale(1.4);
}
