/* VOTE DIV */
.vote__div {
	/* border: solid 1px red; */
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/* VOTE DIV */
.vote__button {
    border: none;
    background-color: white;
    font-size: 18px;
    margin: 2px;
}

.vote__button:focus {
    border: none;
    outline: none;
}


.vote__button:hover {
    font-size: 20px;
    margin: 0px;
}


/* VOTE DIV */
.vote__span {
    /* border: solid 1px red; */

}
