/* VOTE DIV */
.vote__div {
	/* border: solid 1px red; */
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/* VOTE DIV */
.vote__button {
	border: none;
	border-radius: 5px;
	background-color: white;
	color: #828282;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 5px;
}

.vote__button:focus {
	outline: none;
}

.vote__button:hover {
	color: blue;
	background-color: #828282;
}
