/* POST FORM */
.post__form {
	width: 100%;
}

.post__form__div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 10px;
	max-width: 100%;
	margin: 15px;
	border: solid 1px #d8d8d8;
	color: #181818;
}

@media screen and (max-width: 900px) {
	.post__form__div {
		padding: 10px;
	}
}

/* NAV LINK */
.navlink__submitclose {
	margin: 20px 20px 20px auto;
	font-size: 18px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
	color: #787878;
	background-color: #fafaff;
	border: none;
}

.navlink__submitclose:focus {
	outline-color: transparent;
	outline-style: none;
}

.navlink__submitclose:hover {
	color: #00b8ff;
}

/* LEGEND */
.post__legend {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

/* LABEL */
.post__label {
	font-weight: bold;
	font-size: 16px;
	margin: 50px 0 10px;
	text-align: left;
}

.post__input {
	padding: 5px;
	border: solid 1px #d8d8d8;
	width: 100%;
}

.post__input:focus {
	outline-color: transparent;
	outline-style: none;
}

.post__select {
	padding: 5px;
	border: solid 1px #d8d8d8;
	background-color: #fafaff;
	width: 100%;
}

.post__select:focus {
	outline-color: transparent;
	outline-style: none;
}

/* ARTICLE */
.post__textarea {
	border: solid 1px #d8d8d8;
	width: 100%;
	min-height: 40vh;
}

.post__textarea:focus {
	outline-color: transparent;
	outline-style: none;
}

@media only screen and (max-width: 600px) {
	.post__textarea {
		width: 100%;
	}
}

/* SUBMIT BUTTON */
.submit__post {
	border: none;
	background-color: #fafaff;
	height: 50px;
	width: fit-content;
	margin: 50px 0;
	padding: 0;
}


.submit__post:focus {
	outline-color: transparent;
	outline-style: none;
}

/* SUBMIT POST LINK */
.submit__postlink {
	border: solid 1px #00b8ff;
	background-color: #00b8ff;
	height: 100%;
	margin: 0;
	padding: 20px 50px;
	font-size: 16px;
	color: #fafaff;
	text-decoration: none;
	font-weight: bold;
}

.submit__postlink:hover {
	background-color: #fafafa;
	
	color: #00b8ff;
}

/* USER NAME */
.user__name {
	text-align: right;
}
