/* POST FORM */
.post__form {
	border: solid 1px #b3ddf0;
	/* background-color: #828282; */
	/* border-radius: 10px; */
	box-sizing: border-box;
	margin: 50px 10px;
	padding: 20px;
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

/* NAV LINK */
.navlink__submitclose {
	align-self: flex-end;
	padding: 5px;
	font-size: 15px;
	border-radius: 5px;
	color: white;
	border: solid 1px #333333;
	background-color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.navlink__submitclose:hover {
	color: #333333;
	background-color: white;
}

/* LEGEND */
.post__legend {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
}

/* LABEL */
.post__label {
	font-weight: bold;
	font-size: 16px;
	margin: 50px 0 10px;
	text-align: left;
}

.post__input {
	padding: 5px;
	border: solid 1px #b3ddf0;
	/* border-radius: 10px; */
	width: 100%;
}

.post__select {
	padding: 5px;
	border: solid 1px #b3ddf0;
	background-color: #b3ddf0;
	/* border-radius: 10px; */
	width: 100%;
}

/* ARTICLE */
.post__textarea {
	border: solid 1px #b3ddf0;
	/* border-radius: 10px; */
	width: 100%;
	/* margin: 30px; */
}

@media only screen and (max-width: 600px) {
	.post__textarea {
		width: 100%;
	}
}

/* SUBMIT BUTTON */
.submit__post {
	border: solid 1px #00b8ff;
	/* border-radius: 5px; */
	background-color: white;
	color: #00b8ff;
	font-weight: bold;
	text-decoration: none;
	width: fit-content;
	margin: 30px auto;
	padding: 20px;
	background-color: #00b8ff;
	color: white;
	width: 100%;
}

.submit__post:hover {
	background-color: white;
	color: #00b8ff;
}

/* USER NAME */
.user__name {
	text-align: right;
}
